.child {
  background-color: bisque;
  border-style: solid;
  padding: 15px;
  margin: 10px;
  border-color: black;
}

@media screen and (min-width: 750px) {
  .child {
    max-width: 350px;
  }

  .flex-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .child {
    width: 90%;
    margin: 5%;
  }
  .flex-container {
    display: block;
  }
}

h2 {
  text-align: center;
}
